.title{
	text-align:center;
	font-size:30px;
	font-family:"微软雅黑";
	font-color:black;
	height:32px;
	margin-top:30px;
	margin-bottom:10px;
}
	
	
.app_pic{
	width:640px;
	height:620px;
	margin-top:50px;
	margin-left:auto;
	margin-right:auto;
	border:1px solid #ccc;
	padding-top:20px;
}

.app_pic .img_mask{
	width: 100%;
	height: 509px;
	overflow: hidden;
	margin: 0 auto 20px auto;
	position: relative;
}

.app_pic img {
	width: 366px;
	height: 509px;
	display: block;
	margin: 0 auto;
	background-color: #F2F2F2;
	-webkit-box-shadow: -1px 1px 5px 1px #999;
}

.app_pic .pic_seq {
	width: 102px;
	height: 15px;
	margin-left: auto;
	margin-right: auto;
}

.app_pic .pic_seq .current {
background-position: -280px -92px;
}

.app_pic .pic_seq i {
width: 12px;
height: 15px;
display: block;
float: left;
margin-right: 5px;
background: url(http://mat1.gtimg.com/app/wireless/img/components.png) -280px -74px;
}